* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
.box--left {
  left: 0;
}
.box--right {
  right: 0;
}
.white {
  color: #fff;
}
.black {
  color: #000;
}
.home--section::-webkit-scrollbar {
  display: none;
}
.snap-img {
  right: 0;
}

/* For IE, Edge and Firefox */
.home--section {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.spotify--section {
  right: 35px;
  top: 8vh;
}
@media screen and (max-width: 1080px) {
  .upper-tag {
    display: none;
  }
}
@media screen and (max-width: 720px) {
  .snap-img {
    left: 0;
  }
  .spotify--section {
    left: 10px;
    top: 5vh;
  }
}
