@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  color-scheme: light dark;
  color: #242424;
  background-color: #fefefe;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: Gobold;
  src: url(./fonts/GoboldBold.otf);
}
.goBold {
  font-family: Gobold;
  font-size: 13vw;
}
@media screen and (max-width: 750px) {
  .goBold {
    font-size: 28px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #444;
  }
}
